<nav class="footer">
    <div class="footer__logo">
        <img class="footer__logo-footer" src="../../../assets/logo-footer.png" alt="">
    </div>
    <div class="footer__redes">
        <img class="footer__redes-instagram" src="../../../assets/instagram-svgrepo-com.svg" alt="">
        <img class="footer__redes-facebook" src="../../../assets/facebook.svg" alt="">
    </div>
    <p>©Copyright 2023 - Con todos los derechos reservados</p>
    <ul class="footer__enlaces">
        <li>Terminos y Condiciones</li>
        <li>Politica de Privacidad</li>
        <li>Preguntas Frecuentes</li>
        <li>DMCA</li>
    </ul>
</nav>