
<header class="container__header">
  <nav class="header__nav">
    <ul class="header__nav-enlaces">
      <li>inicio</li>
      <li>registrarse</li>
      <li>nosotros</li>
      <li>membresia</li>
      <li>contactanos</li>
    </ul>
  </nav>
  <section class="container__logo">
    <img class="logo__remix" src="../assets/remix.png" alt="">
    <img class="logo__logo" src="../assets/logo.png" alt="">
    <img class="logo__mp4" src="../assets/mp4.png" alt="">
  </section>
  <section class="container__titulo">
    <h1 class="titulo__primero">los mejores videos remixes</h1>
    <h2 class="titulo__segundo">actualizate ya!</h2>
    <button class="titulo__button-ingresar">ingresar</button>
  </section>
</header>
<main>
  <app-carousel [items]="carrouselData"></app-carousel>
  <section class="container__opiniones">
    <div class="opiniones__titulo">
      <h3 class="opiniones__titulo-first">¿Que opinan de nosotros</h3>
      <h3 class="opiniones__titulo-second">artistas, productores y djs?</h3>
    </div>

    <div>
      <app-carousel-opinion [items]="carrouselDataOpinion"></app-carousel-opinion>

      <!-- <div class="slider__card">
        <img src="../assets/personaje1.png" alt="">
        <div class="slider__card-description">
          <p>"He conocido la plataforma RemixMP4 y la verdad encuentro todo lo necesario para ejercer mi labor de DJ, me ha sido de gran ayuda y la utilizo a diario</p>
        </div>
      </div>
      <div class="slider__card">
        <img src="../assets/personaje2.png" alt="">
        <div class="slider__card-description">
          <p>"He conocido la plataforma RemixMP4 y la verdad encuentro todo lo necesario para ejercer mi labor de DJ, me ha sido de gran ayuda y la utilizo a diario</p>
        </div>
      </div>
      <div class="slider__card">
        <img src="../assets/personaje3.png" alt="">
        <div class="slider__card-description">
          <p>"He conocido la plataforma RemixMP4 y la verdad encuentro todo lo necesario para ejercer mi labor de DJ, me ha sido de gran ayuda y la utilizo a diario</p>
        </div>
      </div> -->

    </div>
  </section>
  <section class="container__contacto">
    <div class="contacto__image-dj">
      <img src="../assets/dj.png" alt="">
    </div>
    <div class="contacto__formulario">
      <h3 class="formulario__titulo">contactanos</h3>
      <form class="contacto__formulario-formulario" action="">
        
        <input class="contacto__formulario-formulario-campos"type="text" placeholder="Nombre">
        <input class="contacto__formulario-formulario-campos" type="text" placeholder="E-mail">
        <textarea class="contacto__formulario-formulario-campos" name="" id="" cols="30" rows="10" placeholder="Consulta"></textarea>
      </form>  
    </div>
  </section>
</main>
<app-footer></app-footer>
