.container__header{
    color: #fff;
    display: flex;
    flex-direction: column;
    .header__nav{
        display: flex;
        justify-content: center;
        .header__nav-enlaces{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 35%;
            text-transform: uppercase;
            li{
                width: min-content;
                font-size: 0.9em;
            }
        }
    }
    .container__logo{
        display: flex;
        justify-content: center;
        margin-top: 4em;
        .logo__remix{
            width: 50px;
            height: 180px;
            margin-right: 0.4em;
        }
        .logo__logo{
            width: 130px;
            height: 180px;
        }
        .logo__mp4{
            width: 50px;
            height: 120px;
            display: flex;
            align-self: center;
            margin-left: 0.4em;
        }
    }
    .container__titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3em;
        .titulo__primero{
            font-size: 1.4em;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }
        .titulo__segundo{
            font-size: 3em;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }
        .titulo__button-ingresar{
            color: #fff;
            background: #e04700;
            padding: 5px;
            width: 220px;
            height: min-content;
            font-size: 1.3em;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 13px;
            border: none;
            margin-top: 2.5em;
        }
    }
}
.container__opiniones{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    margin-bottom: 10em;
    overflow-x: clip;
    .opiniones__titulo{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 4em;
        .opiniones__titulo-first{
            color: red;
            font-size: 2.5em;
            text-transform: uppercase;
            margin: 0;
        }
        .opiniones__titulo-second{
            color: #fff;
            font-size: 3em;
            text-transform: uppercase;
        }
    }
    .slider{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 5em;
        .slider__card{
            display: grid;
            color: white;
            grid-template-columns: 0.5fr 1fr;
            gap: 1.2em;
            img{
                width: 200px;
                height: 160px;
                box-shadow: rgb(255, 255, 255) 5px 5px;
            }
            .slider__card-description p{
                line-height: 1em;
            }
        }
    }
}
.container__contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    /* width: 80%; */
    padding: 0 10em;
    margin-bottom: 5em;
    .contacto__formulario{
        display: flex;
        flex-direction: column;
        .formulario__titulo{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 2.5em;
            font-weight: bold;
        }
        .contacto__formulario-formulario{
            display: grid;
            gap: 20px;
                .contacto__formulario-formulario-campos{
                    padding: 10px;
                    border-bottom: 2px solid #fff;
                    border-color: #000000;
                    border-bottom: 2px solid #fff;
                    border-inline: inherit;
                    position: relative;
                    }
            } 
        
    }
}